In [3]:
import pandas as pd

In [71]:
results = pd.read_csv('../data/search-results/all.csv')
results['Release Date'] = pd.to_datetime(results['Release Date'])
results.groupby(['Rank','Year']).count()

           Song ID  Song  Artist(s)  Artist IDs  Album ID  Release Date  \
Rank Year
1    1960        0     5          5           5         5             5
     1961        0     5          5           5         5             5
     1962        0     5          5           5         5             5
     1963        0     5          5           5         5             5
     1964        0     5          5           5         5             5
...            ...   ...        ...         ...       ...           ...
99   2016        0     5          5           5         5             5
     2017        0     3          3           3         3             3
     2018        0     5          5           5         5             5
     2020        0     4          4           4         4             4
Tie  1969        0     5          5           5         5             5

           Popularity  Query  ID
Rank Year
1    1960           5      5   5
     1961           5      5   5
     1962           5      5   5
     1963           5      5   5
     1964           5      5   5
...               ...    ...  ..
99   2016           5      5   5
     2017           3      3   3
     2018           5      5   5
     2020           4      4   4
Tie  1969           5      5   5

[5931 rows x 9 columns]

In [70]:
selected = pd.DataFrame()
for q, song in results.groupby(['Query','Year']):
    oldest = song.iloc[0]
    for i, result in song.iterrows():
        if (result['Release Date']) < (oldest['Release Date']):
            oldest = result
    selected = selected.append(oldest, ignore_index=True)
selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5931 entries, 0 to 5930
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Album ID      5931 non-null   object
 1   Artist IDs    5931 non-null   object
 2   Artist(s)     5931 non-null   object
 3   ID            5931 non-null   object
 4   Popularity    5931 non-null   float64
 5   Query         5931 non-null   object
 6   Rank          5931 non-null   object
 7   Release Date  5931 non-null   datetime64[ns]
 8   Song          5931 non-null   object
 9   Song ID       0 non-null      float64
 10  Year          5931 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 509.8+ KB

In [73]:
selected.to_csv('../data/search-results/all_selected.csv', index=False)

In [54]:
6101 - (127+5931)

43

In [72]:
differences = ((selected['Year'] - selected['Release Date'].dt.year)) # given in days
(differences[differences > 0])

0        1.0
1        3.0
3       16.0
7        1.0
10       2.0
        ...
5920     1.0
5921     2.0
5928     1.0
5929     1.0
5930     1.0
Length: 2671, dtype: float64