In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import lxml
import re
from datetime import datetime, timedelta

In [2]:
top100 = pd.DataFrame()

In [3]:
url = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_'
for year in range(1960, 2021):
    r = requests.get(url + str(year))
    html = r.content
    root = BeautifulSoup(r.content, "html.parser") 
    r = root.find("table", "wikitable")
    pretty = r.prettify()
    df = pd.read_html(pretty)[0]
    df.columns = ['Rank', 'Song', 'Artist(s)']
    df = df.assign(Year = year)
    top100 = top100.append(df)

In [5]:
top100.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6101 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       6101 non-null   object
 1   Song       6101 non-null   object
 2   Artist(s)  6101 non-null   object
 3   Year       6101 non-null   int64
dtypes: int64(1), object(3)
memory usage: 367.4+ KB

  Rank                             Song            Artist(s)  Year
0    1  "  Theme from A Summer Place  "          Percy Faith  1960
1    2           "  He'll Have to Go  "           Jim Reeves  1960
2    3              "  Cathy's Clown  "  The Everly Brothers  1960
3    4               "  Running Bear  "       Johnny Preston  1960
4    5                 "  Teen Angel  "         Mark Dinning  1960

In [8]:
print(top100['Rank'].unique())
print(top100[top100['Rank'] == 'Tie'])
top100.loc[top100['Rank'] == 'Tie', 'Rank'] = 100

[1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27
 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51
 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99
 100 '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15'
 '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29'
 '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43'
 '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57'
 '58' '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70' '71'
 '72' '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85'
 '86' '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99'
 '100' 'Tie']
    Rank          Song                  Artist(s)  Year
100  Tie  "  Let Me  "  Paul Revere & the Raiders  1969

In [9]:
top100 = top100.astype({'Rank': 'int64'})
top100.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6101 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       6101 non-null   int64
 1   Song       6101 non-null   object
 2   Artist(s)  6101 non-null   object
 3   Year       6101 non-null   int64
dtypes: int64(2), object(2)
memory usage: 238.3+ KB

In [8]:
top100["Song"] = top100["Song"].str.strip('"').str.strip()

In [9]:
top100.to_csv('../data/RawYearlyTop100.csv', index=False)